@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 640px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullets {
  width: auto !important;
}

.footer-link {
  position: relative;
}

.footer-link::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -5px;

  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/footer-arrow.svg");
}
